/*Navbar CSS*/

.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  color: black;
  background-color: #EBC300;
  height: 50px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 100%;
  background-color: #EB9B00;
  border-top: 1px solid gray;
}

.home {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
}

.store {
  margin-left: 150px;
}

.about {
  margin-left: 150px;
  font-size: 120px;
}

.contact {
  margin-left: 150px;
}

/* Post Submission CSS */

.post-form-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: red;
  width: 70%;
  margin-bottom: 10px;
}

.post-form-title {
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.post-image-submission {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: beige;
}

.image-label {
  background-color: yellowgreen;
}


.post-body-label {
  background-color: white;
}

.post-text-input-box {
  background-color: white;
}

.post-text-input-div {
  background-color: white;
  border: 2px solid black;
}

.post-submit-button {
  background: blueviolet;
  margin-bottom: 15px;
  position: relative;
}

.image-input {
  background-color: aqua;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  left: 35%;
  width: fit-content;
}

/* prevent all textboxes from being resizes */

textarea {
  resize: none;
}