/* prevent all textboxes from being resizes */

textarea {
  resize: none;
}

/*Navbar CSS*/
.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
  color: black;
  background-color: #FFB632;
  height: 50px;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: top;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 150px;
  height: 100%;
  background-color: #ffc55b;
  border-top: 1px solid gray;
}
/* page css below */
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 150px;
  width: calc(100% - 150px);
}

.store {
  margin-left: 150px;
}

.about {
  margin-left: 150px;
  font-size: 120px;
}

.contact {
  margin-left: 150px;
}

/* Post Submission CSS */

.post-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-form-div {
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: wheat;
  border: solid black 3px;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 10px;
}

.post-form-title {
  font-size: 24px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.post-image-submission-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.image-label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-image-submission-button {
  width: fit-content;
  background-color: yellow;
}

.post-text-input-div {
  background-color: white;
  border: 2px solid black;
  margin: 5px;
}

.post-body-label {
  background-color: white;
}

.post-text-input-field{
  background-color: white;
}

.post-submit-button-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.post-submit-button {
  position: relative;
  left: 45%;
}

.image-input {
  background-color: black;
  display: none;
}

/* Posts CSS */
.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-box {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin-bottom: 10px;
}

.post-box-inner-wrapper {
  display: flex;
  flex-direction: row;
}

.post-image {
  max-width: 300px;
  max-height: 300px;
  width: fit-content;
  height: fit-content;
  margin: 2px;
}

.post-image-box {
  display: flex;
  justify-content: center;
}

.post-num {
  text-align: left;
  background-color: white;
  width: fit-content;
  margin: 2px;
}

.post-content {
  font-size: 20px;
}